main {
  /* margin: 0; */
  /* height: 100vh; */
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 80px 10px 200px 10px;
}

.container {
  display: flex;
  flex-direction: column; /* isso força h2 em cima do form */
  align-items: center;
  gap: 10px;
}

.telaLogin {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
}
